@keyframes moverImagem {
  0% {
    transform: translate(0);
  }

  100% {

    transform: translate(-430px);

  }
}
@keyframes moverImagem1 {
  0% {
    transform: translate(0);
  }

  100% {

    transform: translate(-280px);

  }
}

@keyframes esconderInput {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    pointer-events: none; 
    
  }
}



body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

main {
  min-height: 100vh;
  ;
}


/*-----------------------------------------navbar header---------------------- */

#navbar {
  background: #227CCE !important;
  font-size: larger !important;
}

#div_login {
  margin-right: 100px;
}

#navbar a {
  color: white;
  text-decoration: none;
}

#navbar a img {
  width: 200px;
  border-radius: 0px 25px 0px 25px;
}

@media(max-width:750px){
  #navbar a img {
    width: 150px;
  }
}

/*-----------------------------------------------------footer -------------------*/
footer {
  background-color: #0a1b47 !important;
  margin: 0px !important;
}


/*--------------------------------------login ----------------------------*/
#container_login {
  margin-top: 5%;
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 10px;
  background-color: rgb(253, 253, 253);
  margin-bottom: 10%;
  box-shadow: 2px 6px 6px 2px rgba(0, 0, 0, 0.61);
}

#troca-senha {
  display: block;
  margin-left: 50%;
  margin-top: 40px;
  
}
#troca-senha1 {
  display: block;
  margin-left: 35%;
  margin-right: 40%;
  margin-top: 1%;
  box-shadow: 2px 6px 6px 6px rgba(0, 0, 0, 0.61);
  border-radius: 10px;
  
  
  
}
#fa {
 margin-top: -100%;
 margin-left: 70%;
  
  
}


#section1 {
  width: 40%;
  padding: 20px;
}

#login_form h2 {
  width: 95%;
  color: rgb(49, 29, 136);
  display: flex;
  font-weight: 400;
  text-decoration: underline;
}

#troca-senha h2 {
  width: 95%;
  color: rgb(49, 29, 136);
  display: block;
  justify-content: center;
  font-weight: 400;
  margin-left: 50%;
  
  text-decoration: underline;

}
#troca-senha1 h2 {
  width: 95%;
  color: rgb(49, 29, 136);
  display: block;
  margin-left: 20%;
  justify-content: center;
  font-weight: 400;
  text-decoration: underline;

}

#fa h2 {
  width: 95%;
  color: rgb(49, 29, 136);
  display: block;
  justify-content: center;
  font-weight: 400;
  text-decoration: underline;
  margin-left: 30%;

}

#login_form input {
  width: 100%;
  border-radius: 10px;
  height: 30px;
  border: solid 1px rgba(0, 0, 0, 0.479);
}

#troca-senha input {
  width: 100%;
  border-radius: 10px;
  height: 30px;
  border: solid 1px rgba(0, 0, 0, 0.479);
  margin-left: 10px;
}
#troca-senha1 input {
  width: 50%;
  margin-left: 20%;
  border-radius: 10px;
  height: 30px;
  border: solid 1px rgba(0, 0, 0, 0.479);
}
#troca-senha1 label {
  
  margin-left: 20%;
  
  
 
}

#fa input {
  width: 250px;
  border-radius: 10px;
  height: 30px;
  margin-left: 30%;
  border: solid 1px rgba(0, 0, 0, 0.479);
}

#login_form a {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: left;
  font-size: small;

}

#troca-senha a {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: right;
  font-size: small;
}
#troca-senha1 a {
  margin-top: 10px;
  width: 25%;
  display: flex;
  margin-left: 20%;
  font-size: small;
}

#fa a {
  margin-top: 10px;
  width: 100%;
  margin-left: 40%;
  display: flex;
  justify-content: right;
  font-size: small;
}

.buttonSenha {
  border-radius: 15px;
  color: white;
  background-color: rgb(9, 33, 99);
  font-size: large;
  margin-left: 30%;
  padding: 5px;
  width: 150px;
  height: 40px;
  border: solid 1px rgba(0, 0, 0, 0.308);
  margin-top: 40%;
  margin-bottom: 5%;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.61);
}

.buttonSenha1 {
  border-radius: 15px;
  color: white;
  background-color: rgb(9, 33, 99);
  font-size: large;
  margin-left: 30%;
  padding: 5px;
  width: 150px;
  height: 40px;
  border: solid 1px rgba(0, 0, 0, 0.308);
  margin-top: 10%;
  margin-bottom: 5%;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.61);
}
.buttonSenha:hover {
  cursor: pointer;
}
.buttonSenha1:hover {
  cursor: pointer;
}

.buttonEntrar {
  border-radius: 15px;
  color: white;
  background-color: rgb(9, 33, 99);
  font-size: large;
  margin-left: 30%;
  padding: 5px;
  width: 150px;
  height: 40px;
  border: solid 1px rgba(0, 0, 0, 0.308);
  margin-top: 35%;
  margin-bottom: 5%;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.61);
}

.buttonEntrar:hover {
  cursor: pointer;
}

.buttonEntrar1 {
  border-radius: 15px;
  color: white;
  background-color: rgb(9, 33, 99);
  font-size: large;
  margin-left: 30%;
  padding: 5px;
  width: 150px;
  height: 40px;
  border: solid 1px rgba(0, 0, 0, 0.308);
  margin-top: 35%;
  margin-bottom: 5%;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.61);
}

.buttonEntrar1 :hover {
  cursor: pointer;
}

#section2 {
  width: 60%;
  background-image: linear-gradient(rgb(28, 28, 153), rgb(88, 138, 214));
  border-radius: 10px 10px 10px 10px;
  margin-left: -40%
}

#section2 img {

  width: 100%;
  height: 100%;
}
@media (max-width:750px) {
  #section2{
    visibility: hidden;
  }
  #section2 img{
    visibility: hidden;
  }
  #login_form input{
    margin-left: 5px;
    margin-right: 5px;
  }
  #login_form input{
    width: 302%;
  }
  #fa{ 
    display: block;
    margin-left: -50px;
    margin-top: -300px;
    
    
  }
  #fa input{
    width: 70%;
    
  }
  #fa h2 {
    width: 95%;
    color: rgb(49, 29, 136);
    display: block;
    justify-content: center;
    font-weight: 400;
    text-decoration: underline;
  
  }
 
  .buttonSenha{
    margin-left: 24%;
    margin-top: 100px;
  }
  .buttonSenha1{
    margin-left: 24%;
    
  }
  .buttonSenha1{
    margin-left: 24%;
    margin-top: 100px;
  }
  #troca-senha{
    margin-left: -50%;
    margin-top: 60px;
   display: block;
  }
  #troca-senha input{
    width: 75%;
  }
  #troca-senha a{
    margin-left: -20%;
  }
  .buttonEntrar {
    margin-left: 85%;
  }
  .buttonEntrar1 {
    margin-left: 7px;
    margin-top: 10px;
  }
  #troca-senha1{
    display: block;
    margin-top: 1%;
    box-shadow: 2px 6px 6px 6px rgba(0, 0, 0, 0.61);
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
  }
  
  
  
}
/*-----------------------------------------------cadastro---------------------------------------*/
/*formulario*/
.formulario {
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 20%;
  background: rgba(34, 124, 206, 0.2);
  border-radius: 13px;
  width: 60vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

/*titulo*/
.titulo {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  border-radius: 0px 0px 10px 10px;
  background: #227CCE;
  font-weight: 300;
}


/*label */
.label {
  margin-left: 8px;
  color: #227cce;
  margin-bottom: 5px;
}

.test {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#test_1,
#test_2 {
  width: 50%;
}

/*input*/
.div_input {
  width: 100%;
  padding: 5px;
}


.input_1 {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  fill: #FFF;
  stroke-width: 1px;
  stroke: #4A6EC9;
  border-radius: 15px;
}

.input_2 {
  width: 100%;
  height: 8%;
  flex-shrink: 0;
  fill: #FFF;
  stroke-width: 1px;
  stroke: #4A6EC9;
  border-radius: 15px;
}

#div_botao {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 5%;

}

.botao {
  border-radius: 25px;
  color: #ffffff;
  background: #18388C;
  width: 40%;
  height: 65px;
  flex-shrink: 0;
  fill: #18388C;
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.20)) drop-shadow(0px 1px 18px rgba(0, 0, 0, 0.12)) drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.14));
}

#logo {
  box-sizing: border-box;
  position: absolute;
  width: 21%;
  height: auto;
  border-radius: 0px 0px 15px 0px;
}

@media(max-width:750px) {
  .formulario {
    margin: 0px;
    border-radius: 0pxx;
    width: 100vw;
  }

  .label {
    font-size: 11px;
  }

  .input_1,
  .input_2 {
    height: 40px !important;
  }

  .botao{
    font-size: small;
    width: 45%;
  }
}

/*----------------------------         usuário         -----------------------*/

#titulo_users{
  padding-left: 5vw;
  color: #173c99;
}

#container_user {
  width: 80vw;
  padding-left: 5vw;
}

#container_user th{
  color: #227CCE !important;
}
#container_user td{
  color: #173c99 !important;
}
#container_user td a{
  color: #173c99 !important;
  text-decoration: none;
}

@media(max-width:750px){
  #container_user {
    width: 100vw;
  }
  
}

/* ---------------------------------------- erro ---------------------*/

#error{
  margin-top: 10%;
 text-align: center;
 color: #173c99;
}

/*--------------------------------------------- modelo db -------------*/
#modelo_db{
  width: 95%;
  margin-left: 2.5;
  margin-top: 5%;
  margin-bottom: 5%;
}

.escoder11{
  visibility: hidden;
  pointer-events: none; 
}

/*--------------------------------------------- hreader login -------------*/

.login{
  margin-right: 5%;
  display: flex;
}
.login1  {
  color: #FFF;
  
  ;
}

/*--------------------------------------------- perfil -------------*/
#perfil{
margin-top: 10px;
border-radius: 10px;
background-color: rgb(232, 234, 240);
box-shadow: 2px 6px 6px 2px rgba(0, 0, 0, 0.61);
width: 50%;
height: 100%;
margin-left: 20%;
display: flex;
}
#perfil1{
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgb(232, 234, 240);
  box-shadow: 2px 6px 6px 2px rgba(0, 0, 0, 0.61);
  width: 30%;
 
  margin-left: 30%;
  
  }


#perfil h1{
  margin-left: 40%;
}

#perfil li{
  display: flex;

  color: #000000;
  margin-top: 10px;
  
}
 #perfil a{
  margin-top: 10px;
  width: 100%;
  
  justify-content: left;
  margin-left: 10px;
 }


 #toggle{
  
	position: relative;
	display: block;
	width: 120px;
	height: 40px;
	border-radius: 80px;
	background: #227CCE;
	transition: 0.5s;
	cursor: pointer;
	box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
				inset 0 8px 8px rgba(0, 0, 0, 0.1),
				inset 0 -4px 4px rgba(241, 240, 240, 0.1);
}

#toggle .indicator{
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 40px;
	background: linear-gradient(to bottom, #444, #222);
	border-radius: 20px;
	transform: scale(0.9);
	box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
				inset 0 4px 4px rgba(255,255,255,0.2),
				inset 0 4px 4px rgba(255,255,255,0.2);
	transition: 0.5s;
}

#toggle.active .indicator{
	left: 40px;
}

#toggle.active{
	background: rgb(9, 33, 99);
	box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
				inset 0 2px 8px rgba(0, 0, 0, 0.1),
				inset 0 -4px 8px rgba(0, 0, 0, 0.05);
}
#toggle button{
  color: #FFF;
}


/*--------------------------------------------- Consulta de usuários -------------*/

.Consulta_user{

  margin-top: 30px;

}



.trash-icon {
  color: #78b1e6;
  transition: color 0.5s;
}

.trash-icon:hover {
  color: red;
}
.trash-icon1 {
  color: #78b1e6;
  transition: color 0.5s;
}

.trash-icon1:hover {
  color: rgb(16, 255, 8);
}

.box-search{
  margin-top: 10px;
  display: flex;
  width: 500px;
  margin-left: 87%;
  margin-right: 20%;
}
@media(max-width:750px){
  .box-search {
    margin-left: 70%;
    margin-right: 40%;
  }
}

/*--------------------------------------------- detalhe-------------*/
.detalhe_h1{
  margin-left: 35%;
}

.validv {
  margin-left: 10px;
  color: green;
}
.validf {
  margin-left: 10px;
  color: rgb(255, 0, 0);
}
